<nav>
        <a href="{{ route('home') }}">Home</a>
        <a href="{{ route('products.show', { slug: 'product-1' }) }}">Product</a>
        <a href="{{ route('products.show', { slug: 'product-2' }) }}">Another Product</a>
        <a href="{{ route('products.show', { slug: 'product-3' }) }}">Yet Another Product</a>
    </nav>