@import "tailwindcss";
@source "../views";


* {
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
  width: 100%;
}

h1 {
  @apply text-3xl max-w-3xl mx-auto font-bold mt-6 mb-2;
}

div {
  @apply max-w-3xl mx-auto mt-6;
}

