<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Awesome Home Page</title>

  @vite(['resources/js/app.js'])
</head>

<body>
  <div>
    <h1>Welcome to My Awesome Home Page</h1>
    <nav>
        <a href="{{ route('home') }}">Home</a>
        <a href="{{ route('products.show', { slug: 'my-product' }) }}">Products</a>
        <a href="{{ route('products.show', { slug: 'another-product' }) }}">Another Product</a>
    </nav>
    <p>This is the best place to find amazing products.</p>
    <a href="{{ route('products.show', { slug: 'my-product' }) }}">Check out our products</a>
  </div>
    
</body>

</html>